.dialogForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 5px;
    max-width: 500px;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    

}
.navLink{
  font-size: 24px;
  font-weight: bold;
  text-shadow: 4px 4px 5px #06164f;
}


.logActionBtn {
    margin-top: 15px
}